{% extends 'base.html' %}

{% block head %}
<title>{{ attr.website_title }}</title>
{% endblock %}

{% block body %}
<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">

                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-xs-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">{{ attr.title }}</h1>
                            <img src="static/img/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">{{ attr.subtitle }}</p>
                            <a href="#download" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                        </div>    
                    </div>  <!-- col-xs-12 -->                      
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search" id="search">

                    <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">                                
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="origin-choice">{{ attr.From }}</label><i style="color: grey; font-style: italic">*</i>
                                <input name="origin" value="{{origin}}" list="origin-stops" class="form-control" id="origin" placeholder="{{ attr.From_placeholder }}" required>
                                <datalist name="origin" id="origin-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="destination">{{ attr.To }}</label><i style="color: grey; font-style: italic">*</i>
                                <input name="destination" value="{{destination}}" list="destination-stops" type="text" class="form-control" id="destination" placeholder="{{ attr.To_placeholder }}" required>
                                <datalist name="destination" id="destination-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="day">{{ attr.Day }}</label><i style="color: grey; font-style: italic">*</i>
                                    {% if day == 3 %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1">{{ attr.Weekday }}</option>
                                        <option value="2">{{ attr.Saturday }}</option>
                                        <option value="3" selected>{{ attr.Sunday }}</option>
                                    </select>  
                                    {% elif  day == 2 %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1">{{ attr.Weekday }}</option>
                                        <option value="2" selected>{{ attr.Saturday }}</option>
                                        <option value="3">{{ attr.Sunday }}</option>
                                    </select>  
                                    {% else %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1" selected>{{ attr.Weekday }}</option>
                                        <option value="2">{{ attr.Saturday }}</option>
                                        <option value="3">{{ attr.Sunday }}</option>
                                    </select>  
                                    {% endif %}                                      
                                </div>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="time">{{ attr.Time }}</label> <i style="color: grey; font-style: italic">{{ attr.Optional }}</i>
                                    <input class="form-control tm-select" value="{{time}}" type="time" id="time" name="time">                                   
                                </div>
                            </div>
                        </div> <!-- form-row -->
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="btnSubmit">&nbsp;</label>
                                <button class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">{{ attr.Search }}</button>                             
                                <text style="color: grey; font-style: italic; text-align: right;">{{ attr.warning }}</text>
                            </div>
                        </div>                              
                    </form>                             

                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->                   
        </div>     <!-- .tm-container-outer -->                 
    </section>
    <section class="tm-section tm-section-pad-2 tm-section-2">
    {% if nRoutes == 0 %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-uppercase tm-section-title">{{ attr.No_routes1 }} <b>{{origin}}</b> {{ attr.No_routes2 }} <b>{{destination}}</b></h3>
                    <p class="tm-section-subtitle">{{ attr.No_routes_subtitle }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if routes|length > 0 %}
        {% for route in routes %}
            <div class="container card w-100 center" style="margin-top: 30px; border-radius: 8px; padding: 10px;">
                <div class="row">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <p class="card-text center-center" style="font-size: 20px; margin-left: 10px; width: 100%; text-align: center">{{route.origin}}</p>
                    </div>
                    <div class="col-sm">
                        <p class="card-text" style="float:right; font-weight:bold; font-size: 20px; text-align: center; margin: auto; padding:10px">{{route.start}}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm" style="margin: auto">
                        <span class="" style="margin: auto">                        
                            <h5 class="card-title" style="font-weight: bold;margin-left: 10px; color: black; ">{{route.route}}</h5>
                        </span>
                    </div>
                    <div class="col-sm">
                        <p class="card-text center-center fa fa-2x fa-angle-down tm-down-arrow" style="font-size: 20px; font-weight: bold; width: 100%; text-align: center"></p>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                        <p class="card-text center-center" style="font-size: 20px; margin-left: 10px; width: 100%; text-align: center">{{route.destination}}</p>
                    </div>
                    <div class="col-sm">
                        <input class="spoilerbutton btn btn-primary tm-btn tm-btn-search text-uppercase" style="width: fit-content; float: right; font-weight: bold; font-size: 14px; border-radius: 8px;" type="button" value="+" onclick="this.value=this.value=='+'?'-':'+';">
                        <div class="spoiler">
                            <div>
                                {% for stop, time in route.stops.items() %}
                                    <b>{{stop}}</b>: {{time}} <br />
                                {% endfor %}
                            </div>
                        </div>                   
                     </div>
                </div>
                {% if route.information|length > 0 %}
                    <text style="color: red">{{route.information}}</text>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div> <!-- .main-content -->
{% endblock %}
