{% extends 'base.html' %}

{% block head %}
<title>Sao Miguel Bus</title>
{% endblock %}

{% block body %}
<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">

                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-xs-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">Search a Bus</h1>
                            <img src="static/img/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">Find the best bus for you.</p>
                            <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                        </div>    
                    </div>  <!-- col-xs-12 -->                      
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search">

                    <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">                                
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="origin-choice">From</label><i style="color: grey; font-style: italic">*</i>
                                <input name="origin" list="origin-stops" class="form-control" id="origin" placeholder="Type your origin..." required>
                                <datalist name="origin" id="origin-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="destination">To</label><i style="color: grey; font-style: italic">*</i>
                                <input name="destination" list="destination-stops" type="text" class="form-control" id="destination" placeholder="Type your destination..." required>
                                <datalist name="destination" id="destination-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="day">Day of the Week</label><i style="color: grey; font-style: italic">*</i>
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1" selected>Weekday</option>
                                        <option value="2">Saturday</option>
                                        <option value="3">Sunday/Holiday</option>
                                    </select>                                        
                                </div>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="time">What time?</label> <i style="color: grey; font-style: italic">Optional</i>
                                    <input class="form-control tm-select" type="time" id="time" name="time">                                   
                                </div>
                            </div>
                        </div> <!-- form-row -->
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="btnSubmit">&nbsp;</label>
                                <button class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Search for a Bus</button>
                            </div>
                        </div>                              
                    </form>                             

                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->                   
        </div>     <!-- .tm-container-outer -->                 
    </section>

    {% if routes|length > 0 %}
        {% for route in routes %}
        <div class="angry-grid">
            <div id="item-0">{{route.origin}}</div>
            <div id="item-1">{{route.destination}}</div>
            <div id="item-2">{{route.start}}</div>
            <div id="item-3">{{route.route}}</div>
          </div>
        {% endfor %}
    {% endif %}

    <section class="p-5 tm-container-outer tm-bg-gray">            
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
                    <h2 class="text-uppercase mb-4">Your <strong>Journey</strong> is our priority</h2>
                    <p class="mb-4">Nullam auctor, sapien sit amet lacinia euismod, lorem magna lobortis massa, in tincidunt mi metus quis lectus. Duis nec lobortis velit. Vivamus id magna vulputate, tempor ante eget, tempus augue. Maecenas ultricies neque magna.</p>
                    <a href="#" class="text-uppercase btn-primary tm-btn">Continue explore</a>                              
                </div>
            </div>
        </div>            
    </section>

</div> <!-- .main-content -->
{% endblock %}
