{% extends 'base.html' %}

{% block head %}
<title>Sao Miguel Bus</title>
{% endblock %}

{% block body %}
<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">

                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-xs-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">Search a Bus</h1>
                            <img src="static/img/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">Find the best bus for you.</p>
                            <a href="#download" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                        </div>    
                    </div>  <!-- col-xs-12 -->                      
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search" id="search">

                    <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">                                
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="origin-choice">From</label><i style="color: grey; font-style: italic">*</i>
                                <input name="origin" value="{{origin}}" list="origin-stops" class="form-control" id="origin" placeholder="Type your origin..." required>
                                <datalist name="origin" id="origin-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="destination">To</label><i style="color: grey; font-style: italic">*</i>
                                <input name="destination" value="{{destination}}" list="destination-stops" type="text" class="form-control" id="destination" placeholder="Type your destination..." required>
                                <datalist name="destination" id="destination-stops">
                                    {% for stop in stops %}
                                    <option value="{{stop.name}}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="day">Day of the Week</label><i style="color: grey; font-style: italic">*</i>
                                    {% if day == 3 %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1" selected>Weekday</option>
                                        <option value="2">Saturday</option>
                                        <option value="3" selected>Sunday/Holiday</option>
                                    </select>  
                                    {% elif  day == 2 %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1">Weekday</option>
                                        <option value="2" selected>Saturday</option>
                                        <option value="3">Sunday/Holiday</option>
                                    </select>  
                                    {% else %}
                                    <select name="day" class="form-control tm-select" id="day">
                                        <option value="1" selected>Weekday</option>
                                        <option value="2">Saturday</option>
                                        <option value="3">Sunday/Holiday</option>
                                    </select>  
                                    {% endif %}                                      
                                </div>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="time">What time?</label> <i style="color: grey; font-style: italic">Optional</i>
                                    <input class="form-control tm-select" value="{{time}}" type="time" id="time" name="time">                                   
                                </div>
                            </div>
                        </div> <!-- form-row -->
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="btnSubmit">&nbsp;</label>
                                <button class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Search for a Bus</button>
                            </div>
                        </div>                              
                    </form>                             

                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->                   
        </div>     <!-- .tm-container-outer -->                 
    </section>

    {% if routes|length > 0 %}
        {% for route in routes %}
            <div class="card w-75 center">
                <div class="card-body">
                    <h5 class="card-title">{{route.route}}</h5>
                    <p class="card-text">{{route.origin}}</h5>
                    <p class="card-text">{{route.destination}}</h5>
                    <p class="card-text">{{route.start}}</h5>
                    <a href="/route/{{ route.id }}"" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div> <!-- .main-content -->
{% endblock %}
