<aside class="h-[calc(100vh-56px)] sticky top-14 p-4 border-r hidden lg:block">
  <nav class="space-y-2">
    <a href="#/search" class="block hover:text-green-600" data-nav>🚌 <span data-i18n="navBarSearchLabel">Routes</span></a>
    <a href="#/directions" class="block hover:text-green-600" data-nav>🗺️ <span data-i18n="navBarRoutesLabel">Directions</span></a>
    <a href="#/tracking" class="block hover:text-green-600" data-nav>📌 <span>Tracking</span></a>
    <a href="#/tours" class="block hover:text-green-600" data-nav>🎯 <span data-i18n="navBarToursLabel">Tours</span></a>
    <a href="#/info" class="block hover:text-green-600" data-nav>ℹ️ <span data-i18n="navBarInfoLabel">Info</span></a>
    <a href="#/premium" class="block hover:text-yellow-600 font-semibold" data-nav>👑 <span data-i18n="premium">PREMIUM</span></a>
  </nav>
</aside>
